/* ===== COMMON STYLES ===== */

body {
    all: unset;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
}

/* ===== STYLES FOR NAVBAR ===== */
#navbar {

    /** size settings */
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;

    /** flex settings */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /** styles */
    padding: 15px 30px;             /* ? change navbar paddings */
    background-color: #BFBFBF;    /* ? change navbar background color */
}

#navbar #header-links-container p {
    display: inline;
    width: fit-content;

    /** styles */                   /* TODO: add font, sizes, weight for navbar links' texts */
    font-size: 20px;                /* TODO: change font size */
}

#navbar #header-links-container #divider {
    user-select: none;
    font-size: 24px;                /* ? Change divider size */
}

#navbar #account #account-image-container {
    height: 45px;                   /* TODO: change image height */
    width: 45px;                    /* TODO: change image width */
    padding: 5px;
}

#navbar #account #account-image-container:hover {
    cursor: pointer;
}

#navbar #account #account-image-container img {
    height: 100%;
    width: 100%;
}

/* ===== CONTENT CONTAINER styles ===== */
#content {
    width: 100%;
    flex-grow: 1;
}